body {
    background: #bcdee7;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font: normal 14px/1.618em "Roboto", sans-serif;
}

nav {
    text-decoration: underline;
    text-align: center
}

h1 {
    color: #000000;
    font-size: 18px;
    text-align: center
}

h2 {
    color: #000000;
    font-size: 16px;
    text-align: center
}


h3 {
    margin-top: 6px;
}

h4 {
    margin-top: 3px;
    margin-bottom: 3px;
}

footer {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #24bfde
}

header {
    background-color: #24bfde
}

aside {
    text-align: right;
    font-size: 10px;
    font-family: Arial, serif;
    margin-right: 6px;
}

#math {
    font: 14px "Cambria Math";
}

#symbol {
    text-align: center;
}

div{
    float: left;
    text-align: center;
}

div.footer{
    text-align: center;
    width: 100%;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    box-shadow:0 0 5px 2px #24bfde;
}
img.sign {
    width: 16px;
    height: 16px;
}

img.longsign {
    width: 60px;
    height: 16px;
}

cite {
    font: 14px "Cambria Math";
    font-style: oblique;
    font-weight: lighter;
}